.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
DISABLE/
DISABLE-RECURSIVE/
DISABLE-CHILD/
.copilotignore
.npmignore
node_modules/ignore/legacy.js
